body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;

}

.size_input {
    margin-bottom: 15px;
}

#grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px black solid;
    width: 600px;
    height: 600px;
}